<section class="main">
  <h1>Ignite Generator</h1>
  <%= form_for @ignite do |f| %>
    <p class="hint">
      Write down one line (sentence or key words) for each slide. Once you are done, click 'Create it'.
      <span id='effect'>A related random image will appear for each line.</span>
    </p>
    <div class="form">
      <ul class="hint">
        <% (1..20).each do |i| %>
          <li><%= i %>.</li>
        <% end %>
      </ul>
      <%= f.text_area :content, :class => 'ignite'%> <br/>
    </div>

    <button class="rounded" type="submit">
      <span>Create it!</span>
    </button>
  <% end %>
</section>

<script>
  $(document).ready(function() {
    $('#effect').empty();
    $('#effect').append('A related random image will appear for each line for 15 secs.');
  });
</script>