<section class="main">
  <table>
    <tr>
      <th>ID</th>
      <th>Slides</th>
      <th>Created at</th>
    </tr>
  <% @presentations.reverse.each do |presentation| %>
    <tr>
      <td>
        <%= presentation.id %>
      </td>
      <td>
        <% last_index = presentation.slides.size <= 4 ? 3 : 2; %>
        <% presentation.slides[0..last_index].each do |slide| %>
          <div class="index_preview">
            <img src="<%= slide.image %>" alt="<%= slide.content %>" />
          </div>
        <% end %>
        <% if presentation.slides.size > 4 %>
          <div class="index_preview continue">
          ...
          </div>
        <% end %>
      </td>
      <td>
        <%= l(presentation.created_at, :format => :short) %>
      </td>
    </tr>
  <% end %>
  </table>
</section>