<section class="main">
  <h1>Presentation Generator</h1>
  <span class="hint">Write down your presentation. Objective sentences are the best ones!</span>

  <%= form_for @presentation do |f| %>
    <%= f.text_area :content, :class => 'presentation'%> <br/>
    <br /> 

    <button class="rounded">
      <span>Create it!</span>
    </button>            
  <% end %>
  <hr/>
</section>

<script>
  function update_preview(target) {
    var newValue = target.val();
    $.ajax({
       type: "POST",
       url: "/presentations.js",
       data: {presentation :  {content : newValue}},
       success: function(msg) { json = JSON.parse(msg); ajax_callback(json); }
     });
    // FIXME Bug on Firefox will add text to the end if DOM is manipulated
    // FIXME Non-FF do not send keypress events for delete/backspace
  }
  
  function addTextAreaCallback(textArea, delay) {
    var timer = null;
    textArea.keypress(function(e) {
      if (timer) {
        window.clearTimeout(timer);
      }
      timer = window.setTimeout(function(){ timer = null; update_preview(textArea);}, delay);
      selectCurrentLine(textArea);
    });
  }
  
  function currentLine(area) {
    var value = area.val();
    var lines = value.split('\n');
    var selection = area[0].selectionStart;
    var offset = 0;
    for(var i = 0; i < lines.length; i++) {
      if(offset + lines[i].length + 1 < selection) {
        offset += lines[i].length + 1;
      } else {
        return i;
      }
    }
    return lines.length - 1;
  }
  
  function lineCount(value) {
    return value.split('\n').length;
  }
  
  function ajax_callback(slides) {
    insert_presentation(slides);
    $('.slide').hide();
    selectCurrentLine($("#presentation_content"));
  }
  
  function selectCurrentLine(area) {
    changeTo(function(current) {
      var line = currentLine(area);
      return $($(".slide")[line]);
    });
  }
  
  $(function() {
    var content = $("#presentation_content");
    content.focus();
    update_preview(content);
    addTextAreaCallback(content, 500);
  });
</script>
