<section class="main">
  <% @presentation.slides.each_with_index do |slide, index| %>
    <% unless slide.image.blank? %>
      <div class="slide">
        <!-- TODO Improve UX by allowing clicks to pass slide. Must degrade gracefully -->
        <h1><%=slide.content%></h1>
        <img src="<%= slide.image %>" alt="<%=slide.content%>"></img>
      </div>
    <% end %>
  <% end %>
</section>

<script>
  $(document).keydown(function(e){
    if (e.which == 38) { 
      return changeTo(function(slide) {
        return $(".slide:first");
      });
    }
    else if (e.which == 40) { 
      return changeTo(function(slide) {
        return $(".slide:last");
      });
    }
    else if (e.which == 37) { 
      return changeTo(function(slide) {
        return slide.prev('.slide');
      });
    } else if (e.which == 39) { 
      return changeTo(function(slide) {
        return slide.next('.slide');
      });
    }
  });
  $(function() {
    $(".slide").hide();
    $(".slide:first-child").show();
  });
</script>