html,body {
	margin: 0;
	padding: 0;
}

div#maincontainer {
	width: 600px;
	margin: 0 auto;
}

section.main {
  text-align: center;
}

section.main h1 {
	font: 20px arial,sans-serif;
	font-weight: bold;
}

section.main span.hint {
	float: left;
	text-align: left;
	width: 180px;
  color: #999;
  font: 17px arial,sans-serif;
}

textarea.presentation {
	margin-left: -190px;
	width: 600px;
	height: 100px;
  background: white;
  border-top: 1px solid silver;
  color: black;
  font: 17px arial,sans-serif;
  padding: 1px 7px;
  line-height: 25px!important;
  vertical-align: top;
}

textarea.ignite {
	margin-left: -190px;
	width: 300px;
	height: 500px;
  background: white;
  border-top: 1px solid silver;
  color: black;
  font: 17px arial,sans-serif;
  padding: 1px 7px;
  line-height: 25px!important;
  vertical-align: top;
}

button {
	float: right;
	margin-top: -60px;
  border: 0 none;
  cursor: pointer;
  font-weight: bold;
  padding: 0 15px 0 0;
  text-align: center;
  height: 30px;
  line-height: 30px;
	width: auto;
}

#presentation_preview {
	float: right;
	margin-top: -120px;
}

button.rounded {
  background: transparent url( ../images/btn_right.png ) no-repeat scroll right top;
  clear: left;
  font-size: 0.8em;
}

button span {
  display: block;
  padding: 0 0 0 15px;
  position: relative;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

button.rounded span {
  background: transparent url( ../images/btn_left.png ) no-repeat scroll left top;
  color: #FFFFFF;
}

button.rounded:hover {
	background-position: 100% -30px;
}

button.rounded:hover span {
	background-position: 0% -30px;
}

button::-moz-focus-inner {
	border: none;
}

div#presentation {
	float: left;
	width: 100%;
	border-top: 3px solid silver;
	padding-top: 5px;
}

div#tumb {
	float:left;
	text-align: left;
	border-right: 1px solid silver;
	width: 180px;
}
div.tumb {
	height: 120px;
}
div.tumb_slide {
	border: 1px solid black;
	float: right;
	width: 150px;
	height: 100px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
}

div.tumb_slide img {
	max-width: 150px;
	max-height: 100px;
}

div#presentation div#slides {
	margin-left: 200px;
}

div#presentation div#slides div.slide {
	margin-left: 0;
}

div.slide {
	float: left;
/*	margin-left: 100px;*/
	width: 800px;
	height: 600px;
	background-repeat: no-repeat;
	background-position: center center;
}

div.slide:hover {
	background:#eee;
	background-repeat: no-repeat;
	background-position: center center;
}

div.slide h1 {
	position: relative;
	margin: 0 auto;
	z-index: 1;
	margin-top: 10pt;
	font-size: 40pt;
	background: rgba(255,255,255,0.5);
	padding: 5pt;
	border: 3px solid silver;
}

table {
	width: 100%;
}

table tr td {
	border-top: 1px solid silver;
	padding: 3px 0;
}

div.index_preview {
	border: 1px solid black;
	float: left;
	width: 150px;
	height: 100px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
}

div.continue {
	border:0;
}

div.index_preview img {
	max-width: 150px;
	max-height: 100px;
}