section.main {
  text-align: center;
}

section.main h1 {
	font: 20px arial,sans-serif;
	font-weight: bold;
}

section.main span.hint {
  color: #999;
  font: 17px arial,sans-serif;
}

textarea.presentation {
	height: 150px;
  background: white;
  border-top: 1px solid silver;
  color: black;
  font: 17px arial,sans-serif;
  padding: 1px 7px;
  line-height: 25px!important;
  vertical-align: top;
  width: 60%;
}

button {
  border: 0 none;
  cursor: pointer;
  font-weight: bold;
  padding: 0 15px 0 0;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: auto;
}

button.rounded {
  background: transparent url( ../images/btn_right.png ) no-repeat scroll right top;
  clear: left;
  font-size: 0.8em;
}

button span {
  display: block;
  padding: 0 0 0 15px;
  position: relative;
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

button.rounded span {
  background: transparent url( ../images/btn_left.png ) no-repeat scroll left top;
  color: #FFFFFF;
}

button.rounded:hover {
	background-position: 100% -30px;
}

button.rounded:hover span {
	background-position: 0% -30px;
}

button::-moz-focus-inner {
	border: none;
}

div#tumb {
	float:left;
	text-align: left;
	border-right: 1px solid silver;
	width: 200px;
}
div#tumb div.tumb {
	height: 120px;
}
div#tumb div.tumb div.tumb_slide {
	border: 1px solid black;
	float: right;
	width: 150px;
	height: 100px;
	margin-right: 5px;
	margin-bottom: 10px;
}

div#tumb div.tumb div.tumb_slide img {
	max-width: 150px;
	max-height: 100px;
}

div#slides img {
	max-width: 800px;
	max-height: 600px;
}

div#slides div.slide {
	min-height:600px;
	min-width:800px;	
}

div#slides div.slide:hover {
	background:#eee;	
}

div#slides div.slide {
	text-align: center;
	margin-left: 200px;
}

