<!DOCTYPE html>
<html>
<head>
  <title>Presentation Generator - Build your presentation bases in 3 minutes</title>
  <link rel='stylesheet' type='text/css' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/cupertino/jquery-ui.css'>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" charset="utf-8"></script>

</head>
<body>

<%= yield %>

</body>
</html>
