<!DOCTYPE html>
<html>
<head>
  <title>Presentation Generator - Build your presentation bases in 3 minutes</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
